$quotes_background_color: #D3D3D3;
$quotes_background_color_hover: #A9A9A9;
%div_box{
  border-width: thin;
  border-style: ridge;
  border-color: #ccc;
}

.quotes:hover {
  background-color: $quotes_background_color_hover;
}

#Aristotle_quote::selection{
  background-color: blue;
}

#header_quote {
  font-style: italic;
}

.quotes{
  background-color: $quotes_background_color;
  padding: 40px;
  @extend %div_box;
}

.container{
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

nav{
  a{
    text-decoration:underline;
  }
}


@media print{
  footer{
    visibility: hidden;
  }
}
