{% extends "layout.html" %}

{% block heading %}
  First page
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm"
    <p>{{ test }}</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
  <ul>
    {% for item in mylist %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>
  </div>
  <div class="col-sm-8">
  <form action="{{ url_for('test5')}}" method="post">
    <input type="text" name="test" placeholder="Enter my biography">
    <button>Submit</button>
  </form>
  </div>
{% endblock %}
